* {
  margin: 0;
  padding: 0;
}

html {
    height: 100%;
}

@font-face {
    font-family: 'MaisonNeueExt';
    src: local('MaisonNeueExt'), url(../../assets/fonts/MaisonNeueExt-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Questrial';
    src: local('Questrial'), url(../../assets/fonts/Questrial-Regular.ttf) format('truetype');
}
